@model IEnumerable<TeleMarkApp.Models.ClientModel>

@{
    ViewBag.Title = "Clients";
}

<h2>Client list</h2>

<button type="button" class="btn btn-default">
    @Html.ActionLink("Create client", "Create")
</button>
<br />
<br />
<table class="table table-hover">
    <tr>
        <th scope="col">
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam})
        </th>
        <th scope="col">
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSortParam})
        </th>
        <th scope="col">
            Telephone
        </th>
        <th scope="col">
            Description
        </th>
        <th scope="col"> 
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TelephoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <button class="btn btn btn-default">
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientId })
        </button>
        <button class="btn btn btn-default">
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </button>
    </td>
</tr>
    }

</table>
