@model IEnumerable<TeleMarkApp.Models.ClientModel>

@{
    ViewBag.Title = "Clients";
}

<h2>Client list</h2>

<button type="button" class="btn btn-default">
    @Html.ActionLink("Create client", "Create")
</button>

<br />
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Lastname
        </th>
        <th>
            Telephone
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
            </td>
        </tr>
    }

</table>
